@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


body{
    margin: -1px;
 
    font-family: 'Young Serif';
    width: 1920px;
    height: 1080px;
}
header{
    background-image: url(/src/assets/head.png);
    color: #202329;
    font-size: 100px;
    text-align: center;
    height: 500px;
    line-height: 400px;

}
main{
    padding-left: 1.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #272b33;
    color: #f5f5f5;
}
#block{
    background-color: #3c3e44;
    width: 600px;
    height: 220px;
    border-radius: 1.5ch;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}
#photo{
    border-radius: 1.5ch 0ch 0ch 1.5ch;
    width: 220px;
    float:left;
    margin-right: 15px;
}
